html,
body {
  max-width: 100vw;
  background-color: rgb(187, 244, 225);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.topic {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 40px;
}

.nav-list {
  width: 80%;
  margin-left: 30px;
  display: inline flex;
  align-items: right;
}

.nav-item {
  color: black;
  margin: 20px;
  min-width: 15%;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
}

.ulstyle {
  position: relative;
}

.ulstyle:after {
  content: "";
  position: absolute;
  background-color: rgb(163, 159, 159);
  height: 4px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.ulstyle:hover::after {
  width: 100%;
}

.social {
  font-size: 30px;
  display: flex;
  margin: auto;
  margin-bottom: 12px;
  justify-content: center;
}
.social1 {
  font-size: 30px;
  display: block;
  float: left;
  margin: auto;
}
.lin {
  color: rgb(24, 129, 167);
}

.social-icons {
  margin: auto 10px;
}

.fac {
  color: rgb(76, 76, 99);
}

.ins {
  color: rgb(205, 72, 205);
}

.footer {
  padding: 2% 20%;
  background-color: rgb(190, 229, 100);
}

.links {
  justify-content: center;
  padding: 5%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 13px;
  border: 2px solid black;
}

.link {
  margin: auto 20px;
}

.p1 {
  height: 600px;
  overflow-y: hidden;
  width: 600px;
}

.navbar-light .navbar-toggler-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 4px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 20px;
  width: 20px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 30px;
  margin: auto;
}

.row1 {
  background-color: rgb(190, 229, 113);
  padding: 8px;
  margin: 2%;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.Text-Image {
  border: 3px solid white;
  border-radius: 15px;
  padding: 2%;
  text-align: justify;
}

.imgfluid {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.contract {
  border: 2px solid white;
  margin: 20px;
  padding: 14px;
  font-family: Helvetica;
  border-radius: 10px;
}

.activities {
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px;
  margin: 40px;
}

hr.acthr {
  border-top: 2px solid rgb(95, 3, 3);
}

.about1 {
  text-align: justify;
  margin: 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-fluid {
  margin: 20px auto;
  display: block;
  width: 100%;
  height: auto;
}

.missions {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1375px) {
  .Text-Image {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 472px) {
  .topic {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 20px;
  }
}

@media only screen and (max-width: 1375px) {
  .navbar-light .navbar-toggler {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 416px) {
  .headr {
    width: 350px;
    height: 350px;
  }
}